.DS_Store
__pycache__/
.pytest_cache/

histories/*.json
.cache/
node_modules/

# Java
.gradle/
.idea/
build/
*.class
*.jar
!**/gradle/wrapper/gradle-wrapper.jar

.env

# Rust
target/

protos/
temporal.binpb
captures/
